@page
@model HistoryModel
@{
    ViewData["Title"] = "History";
    var lines = (string[])ViewData["lines"];
    var linesStatic = (string[])ViewData["linesStatic"];
    var count = 0;
}
<h1>@ViewData["Title"]</h1>

<p>This page shows a temperature history. Sort of.</p>

<div style="background-color: pink">
  @foreach(var line2 in lines) {
    count++;
    <div>
      <p>@line2</p>
    </div>
  }
</div>

<div style="background-color: green">
  @foreach(var line in linesStatic) {
    count++;
    <div>
      <p>@line</p>
    </div>
  }
</div>
